$primary: #8254ff;
$secondary: #b2b2b2;
$success: #3bff92;
$info: #25f5dd;
$warning: #e3c752;
$danger: #ff4d55;
$light: #f6f6f6;
$dark: #1d1d1b;

$gray-100: #f6f6f6 !default;
$gray-200: #ededed !default;
$gray-300: #dadada !default;
$gray-400: #b2b2b2 !default;
$gray-500: #b2b2b2 !default;
$gray-600: #878787 !default;
$gray-700: #575756 !default;
$gray-800: #1d1d1b !default;
$gray-900: #000000 !default;